<header>
	<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="/main.html">"Неугомонные ребята"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main.html">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Кружки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Запись</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="">Расписание</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="">Новости</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/contacts.html">Контакты</a>
        </li>
      </ul>