.container.marketing {
	padding-top: 100px;
}

img {
	width: 200px;
}

td {
	padding-left: 10px;
}

.container.marketing .activity-info {
	padding-left: 10px;
}

.article-photo {
	width: 50%;
	height: auto;
}